吴晓红/week09/作业2/job2.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: job2
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.33@608ec1e7d07dd52e582cff58561a8c75c989951186ffc59452dfffe3d8051230
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1774502002201-source-1774502099880-target
      source: '1774502002201'
      sourceHandle: source
      target: '1774502099880'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1774502099880-true-1774502393296-target
      source: '1774502099880'
      sourceHandle: 'true'
      target: '1774502393296'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: end
      id: 1774502507662-source-1774502683543-target
      source: '1774502507662'
      sourceHandle: source
      target: '1774502683543'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1774502099880-false-1774502507662-target
      source: '1774502099880'
      sourceHandle: 'false'
      target: '1774502507662'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1774502393296-source-1774529229683-target
      source: '1774502393296'
      sourceHandle: source
      target: '1774529229683'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: 明天下雨么
          hint: ''
          label: query
          max_length: 100
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: query
        - default: 意图2
          hint: ''
          label: type
          max_length: 10
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: type
      height: 135
      id: '1774502002201'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 6d730f18-0567-4ad0-9b3a-a4cac46fc7bd
            value: 意图1
            varType: string
            variable_selector:
            - '1774502002201'
            - type
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 124
      id: '1774502099880'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: qwq-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 7204dae4-d663-4dfe-9c53-5f8957fc85c7
          role: system
          text: "你是一个智能助手，请直接根据用户的问题给出准确、简洁的归类，列表归类如下\n  - Weather-Query\n  - Music-Play\n\
            \   - FilmTele-Play\n  - Video-Play\n  - Radio-Listen\n  - HomeAppliance-Control\n\
            \  - Alarm-Update"
        - id: fe83bb5f-ff43-4513-a37d-039ae47ed5b5
          role: user
          text: '{{#1774502002201.query#}}'
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774502393296'
      position:
        x: 683
        y: 282
      positionAbsolute:
        x: 683
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - H6B4bcGsaIdQudfRrOqsirTT5vw8EdjXYNANdymRxHZFUIXnZTHourXIYaW+iCik
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.5
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: text-embedding-v3
              embedding_provider_name: langgenius/tongyi/tongyi
              vector_weight: 1
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1774502002201'
        - query
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 90
      id: '1774502507662'
      position:
        x: 683
        y: 408
      positionAbsolute:
        x: 683
        y: 408
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1774502507662'
          - result
          value_type: array[object]
          variable: content
        selected: false
        title: 输出
        type: end
      height: 88
      id: '1774502683543'
      position:
        x: 1050
        y: 426
      positionAbsolute:
        x: 1050
        y: 426
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1774502393296'
          - text
          value_type: string
          variable: text
        selected: false
        title: 输出 2
        type: end
      height: 88
      id: '1774529229683'
      position:
        x: 1028
        y: 297
      positionAbsolute:
        x: 1028
        y: 297
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -561
      y: -83.5
      zoom: 1
  rag_pipeline_variables: []
