张玥/week09/作业2/问题分类 + 知识库 + 聊天机器人.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFE4E8'
  mode: advanced-chat
  name: 问题分类 + 知识库 + 聊天机器人
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/siliconflow:0.0.43@18a2f3c3559d752b178bb4efd6b736dec8dd13c2d963fd6aa5b0a350e24e6826
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: question-classifier
      id: 1711528708197-1711528709608
      selected: false
      source: '1711528708197'
      sourceHandle: source
      target: '1711528709608'
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1711528709608-1711528768556
      selected: false
      source: '1711528709608'
      sourceHandle: '1711528736036'
      target: '1711528768556'
      targetHandle: target
      type: custom
    - data:
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1711528709608-1711528770201
      selected: false
      source: '1711528709608'
      sourceHandle: '1711528736549'
      target: '1711528770201'
      targetHandle: target
      type: custom
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1711528768556-1711528802931
      selected: false
      source: '1711528768556'
      sourceHandle: source
      target: '1711528802931'
      targetHandle: target
      type: custom
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1711528770201-1711528815414
      selected: false
      source: '1711528770201'
      sourceHandle: source
      target: '1711528815414'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: 1711528802931-1711528833796
      selected: false
      source: '1711528802931'
      sourceHandle: source
      target: '1711528833796'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: 1711528815414-1711528835179
      selected: false
      source: '1711528815414'
      sourceHandle: source
      target: '1711528835179'
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1711528709608-1711528737066-1774435931912-target
      source: '1711528709608'
      sourceHandle: '1711528737066'
      target: '1774435931912'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1774435931912-source-1711528775142-target
      source: '1774435931912'
      sourceHandle: source
      target: '1711528775142'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 73
      id: '1711528708197'
      position:
        x: 79.5
        y: 714.5
      positionAbsolute:
        x: 79.5
        y: 714.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1711528736036'
          name: 机器学习问题
        - id: '1711528736549'
          name: 大模型问题
        - id: '1711528737066'
          name: 其他问题
        desc: 我们可以设定用户问题的分类条件，然后大语言模型就能根据这些分类描述来决定对话的发展方向。
        instructions: ''
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 512
            presence_penalty: 0
            temperature: 0.7
            top_p: 1
          mode: chat
          name: Pro/moonshotai/Kimi-K2.5
          provider: langgenius/siliconflow/siliconflow
        query_variable_selector:
        - '1711528708197'
        - sys.query
        selected: false
        title: Question Classifier
        topics: []
        type: question-classifier
      height: 268
      id: '1711528709608'
      position:
        x: 362.5
        y: 714.5
      positionAbsolute:
        x: 362.5
        y: 714.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - sUurF8y1zglY/b1GmfK1cRRSOm+l8nxIQoi/2aWUWCAN1YGEQXviTxjyCsPfjMaa
        desc: 获取机器学习 的相关知识
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: BAAI/bge-reranker-v2-m3
            provider: langgenius/siliconflow/siliconflow
          score_threshold: null
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: BAAI/bge-m3
              embedding_provider_name: langgenius/siliconflow/siliconflow
              vector_weight: 0.7
            weight_type: customized
        query_variable_selector:
        - '1711528708197'
        - sys.query
        retrieval_mode: multiple
        selected: false
        single_retrieval_config:
          model:
            completion_params: {}
            mode: chat
            name: gpt-3.5-turbo
            provider: openai
        title: 知识检索
        type: knowledge-retrieval
      dragging: false
      height: 118
      id: '1711528768556'
      position:
        x: 645.5
        y: 714.5
      positionAbsolute:
        x: 645.5
        y: 714.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - AaNaxAy+y3f90MYnJXKw1YGcv91tDTFixXs7HeMF2GBsylx4dd6OyJ66uH+Oxx/C
        desc: 检索大模型相关的知识
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: BAAI/bge-reranker-v2-m3
            provider: langgenius/siliconflow/siliconflow
          top_k: 4
        query_variable_selector:
        - '1711528708197'
        - sys.query
        retrieval_mode: multiple
        selected: false
        single_retrieval_config:
          model:
            completion_params: {}
            mode: chat
            name: gpt-3.5-turbo
            provider: openai
        title: 知识检索
        type: knowledge-retrieval
      dragging: false
      height: 118
      id: '1711528770201'
      position:
        x: 645.5
        y: 868.6428571428572
      positionAbsolute:
        x: 645.5
        y: 868.6428571428572
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1774435931912.text#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: '1711528775142'
      position:
        x: 945.5
        y: 1044.2142857142856
      positionAbsolute:
        x: 945.5
        y: 1044.2142857142856
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1711528768556'
          - result
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            max_tokens: 512
            temperature: 0.7
            top_p: 1
          mode: chat
          name: Pro/moonshotai/Kimi-K2.5
          provider: langgenius/siliconflow/siliconflow
        prompt_template:
        - id: 1af27f60-d7c9-4180-8db9-e1d2bd96f6cf
          role: system
          text: '使用以下上下文作为你所学习的知识，放在<context></context> XML标签内。

            <context>

            {{#context#}}

            </context>

            当回答用户时：

            首先告知用户，当前提问属于机器学习相关，资料来源于机器学习知识库。

            如果你不知道，就说你不知道。如果你不确定时不知道，寻求澄清。

            避免提及你从上下文中获取的信息。

            并根据用户问题的语言进行回答。'
        reasoning_format: tagged
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      dragging: false
      height: 88
      id: '1711528802931'
      position:
        x: 928.5
        y: 714.5
      positionAbsolute:
        x: 928.5
        y: 714.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1711528770201'
          - result
        desc: ''
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            max_tokens: 512
            temperature: 0.7
            top_p: 1
          mode: chat
          name: Pro/moonshotai/Kimi-K2.5
          provider: langgenius/siliconflow/siliconflow
        prompt_template:
        - id: 02e9ae68-cb89-4512-8d1a-1eb4d92c1987
          role: system
          text: '使用以下上下文作为你所学习的知识，放在<context></context> XML标签内。

            <context>

            {{#context#}}

            </context>

            当回答用户时：

            首先告知用户，当前提问属于大模型学习相关，资料来源于大模型学习知识库。

            如果你不知道，就说你不知道。如果你不确定时不知道，寻求澄清。

            避免提及你从上下文中获取的信息。

            并根据用户问题的语言进行回答。'
        selected: false
        title: 'LLM '
        type: llm
        variables: []
        vision:
          enabled: false
      dragging: false
      height: 88
      id: '1711528815414'
      position:
        x: 928.5
        y: 868.6428571428572
      positionAbsolute:
        x: 928.5
        y: 868.6428571428572
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1711528802931.text#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables:
        - value_selector:
          - '1711528802931'
          - text
          variable: text
      dragging: false
      height: 103
      id: '1711528833796'
      position:
        x: 1211.5
        y: 714.5
      positionAbsolute:
        x: 1211.5
        y: 714.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1711528815414.text#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables:
        - value_selector:
          - '1711528815414'
          - text
          variable: text
      dragging: false
      height: 103
      id: '1711528835179'
      position:
        x: 1211.5
        y: 868.6428571428572
      positionAbsolute:
        x: 1211.5
        y: 868.6428571428572
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: Pro/moonshotai/Kimi-K2.5
          provider: langgenius/siliconflow/siliconflow
        prompt_template:
        - id: adbec337-90e0-4111-bfca-28e11cbe14dd
          role: system
          text: '你是一个专业的知识问答助手，请根据用户的提问来给出专业性的回答。

            在回答问题之前要先明确告知用户当前提问属于非机器学习 / 非大模型的其他问题分类。

            分类用户提问内容如下：{{#sys.query#}}'
        reasoning_format: separated
        selected: false
        structured_output_enabled: false
        title: 其他问题
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774435931912'
      position:
        x: 645.5
        y: 1044.2142857142856
      positionAbsolute:
        x: 645.5
        y: 1044.2142857142856
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 87.49347056723218
      y: -497.89880877248106
      zoom: 1.1486983549970349
  rag_pipeline_variables: []
